a{
    text-decoration: none;
    display: block;
    color: inherit;
}
/* img RWD */
img {
    max-width: 100%;
    height: auto;
}

span,i{
    vertical-align: bottom;
}

.material-icons {
    cursor: pointer;
}

select, textarea {
    outline: none;
    border: none;
    resize: none;
}
.disc{
    list-style-type: disc;
}

.bold{
    font-weight: bold;
}
.white{
    color: #FFFFFF;
}
.black{
    color: #121212;
}
.purple{
    color: #8A82CC;
}
.text-gray{
    color: #0000009A;
}
.light-orange{
    color: #FFD366;
}
.fz-14{
    font-size: 14px;
}
.fz-18{
    font-size: 18px;
}
.fz-36{
    font-size: 36px;
}
.mb-10{
    margin-bottom: 10px;
}
.lh-20{
    line-height: 20px;
}